* {
    padding: 0;
    margin: 0;
}

body {
    background: url(./Aqualicious.jpg);
    background-size: cover;
}

@font-face {
    font-family: Pacifico-Regular;
    src: url(./Pacifico-Regular.ttf);
}

#nav {
    position: relative;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    margin-top: 20px;
    margin-left: 15px;
    width: 481px;
}

#nav li a {
    position: relative;
    padding: 15px 50px;
    font: 500 24px '优设标题黑';
    font-family: Pacifico-Regular;
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,.slide2 {
    position: absolute;
    display: inline-block;
    height: 72px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23,1,0.32,1.05);
}

.slide1 {
    background-color: rgb(170, 190, 255);
    z-index: 2;
}

.slide2 {
    background-color: rgb(170, 190, 255,.5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}